<table class="data-table">
    <thead>
      <tr>
        <th style="background-color:blueviolet">ID</th>
        <th style="background-color:blueviolet">Valor</th>
        <th style="background-color:blueviolet">Unidad</th>
        <th style="background-color:blueviolet">Fecha</th>
      </tr>
    </thead>
    <tbody id="dataTableBody">
        <% values.forEach(function(value) { %>
            <tr>
                <td><%= value.id %></td>
                <td><%= value.value %></td>
                <td><%= value.unit %></td>
                <td><%= value.date %></td>
            </tr>
        <% }); %>
    </tbody>
  </table>